<h1> Customers: drag and drop, list elements (non persistant 4 now) </h1>
<%-# Drag and dropable list -%>
<ul id="customerIndex">
	<% @customers.each do |customer| %>
	<%= content_tag_for :li, customer do %>
	<%= link_to customer.name, customer %></li>
	<% end %>
	<% end %>
</ul>
<%-# Link to new customer page -%>
<li>
	<%= link_to new_customer_path  do %>
    <span class="glyphicon glyphicon-plus"></span> New Customer
    <% end %>
</li>