<h1> Customers by name (drag and drop, list elements) </h1>

<ul id="customerIndex">
	<% @customers.each do |customer| %>
	<%= content_tag_for :li, customer do %>
	<%= link_to customer.name, customer %></li>
	<% end %>
	<% end %>
</ul>

<li> <%= link_to new_customer_path  do %>
          <span class="glyphicon glyphicon-plus"></span> New Customer
            <% end %>
         </li>