<%= render 'pages/home' unless user_signed_in? %>

<div class="center">
<q><b>
"...but we are hackers and hackers have black terminals with green font colors"
</b></q>
<br><br>
<p>
- John Numnemaker
</p>
</div>