<h1> Products by name </h1>
<%-# List of products -%>
<ul>
	<% @products.each do |product| %>
	<li><%= link_to product.product_name, product %></li>
	<% end %>
</ul>
<%-# Link to add new product -%>
<%= link_to new_product_path  do %>
<span class="glyphicon glyphicon-plus"></span> New Product
<% end %>
<br><br>
<p>Calculations:</p>
<%-# Calculate and display total # of products -%>
<p> Total # of products: <%= @products.each.count %> </P>
<%-# Calculate and display total # of sales of all products -%>
<% @totalSalesNumber = 0 %>
<% @products.each do |salesVar| %>
<% @totalSalesNumber = @totalSalesNumber + salesVar.sales.count %>
<% end %>
<p> Total # of sales of all products: <%= @totalSalesNumber %> </P>