<h1> Show page </h1>

<table>
 <tbody>
<tr>
 <th> Transaction ID </th>
 <th> Customer ID</th>
 <th> Package ID</th>
</tr>

<tr>
	<td><%= @sale.transaction_id %></td>
	<td><%= link_to @sale.customer.name, customer_path( @sale.customer_id ) %></td>
	<td><%= link_to @sale.package.package_id, package_path( @sale.package_id ) %></td>
</tr>
 </tbody>
</table>

<%= link_to "All Sales", sales_path %>