<h1> Show page </h1>

<table>
 <tbody>
<tr>
 <th> Transaction ID </th>
 <th> Customer ID</th>
 <th> Package ID</th>
</tr>

<tr>
	<td><%= @sale.transaction_id %></td>
	<td><%= @sale.customer_id %></td>
	<td><%= @sale.package_id %></td>
</tr>
 </tbody>
</table>

<%= link_to "All Sales", sales_path %>